<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ValidateAPITestSuite">
  <test thread-count="5" name="ValidateAPIOutput">
  	<parameter name="FullName" value="Carbon credits" />
  	<parameter name="CanRelist" value="true" />
  	<parameter name="PromotionName" value="Gallery" />
  	<parameter name="PromotionDescription" value="2x larger image" />
    <classes>
       <class name="API.ValidateAPIOutput"/>
    </classes>
  </test> <!-- ValidateAPIOutput -->
</suite> <!-- ValidateAPITestSuite -->
